<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Licenta :: Error</title>
    <link href="/webjars/materialize-css/1.0.0-beta/dist/css/materialize.min.css" type="text/css" rel="stylesheet"/>
    <script src="/webjars/jquery/3.3.1/jquery.js"></script>
    <script src="/webjars/materialize-css/1.0.0-beta/dist/js/materialize.min.js"></script>
    <script src="/webjars/material-design-icons/3.0.1/material-icons.css"></script>
    <style type="text/css">
        .nav-search .nav-wrapper .input-field input[type=search] {
            margin-top: 16px;
            height: 32px;
        }
        .nav-search .nav-wrapper .input-field label {
            margin-top: -16px;
        }

        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(/webjars/material-design-icons/3.0.1/MaterialIcons-Regular.eot);
            src: local('Material Icons'),
                 local('MaterialIcons-Regular'),
                 url(/webjars/material-design-icons/3.0.1/MaterialIcons-Regular.woff2) format('woff2'),
                 url(/webjars/material-design-icons/3.0.1/MaterialIcons-Regular.woff) format('woff'),
                 url(/webjars/material-design-icons/3.0.1/MaterialIcons-Regular.ttf) format('truetype');
        }

        .material-icons {
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;  /* Preferred icon size */
          display: inline-block;
          line-height: 1;
          text-transform: none;
          letter-spacing: normal;
          word-wrap: normal;
          white-space: nowrap;
          direction: ltr;

          /* Support for all WebKit browsers. */
          -webkit-font-smoothing: antialiased;
          /* Support for Safari and Chrome. */
          text-rendering: optimizeLegibility;

          /* Support for Firefox. */
          -moz-osx-font-smoothing: grayscale;

          /* Support for IE. */
          font-feature-settings: 'liga';
        }
    </style>
</head>
<body style="
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow:hidden;"
>
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue">
                <div class="container">
                    <div class="row">
                        <div class="col s3">
                            <ul class="left">
                                <li>
                                    <a class="waves-light" th:href="@{/}">
                                        <b>Proiect Licenta</b>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<main class="cyan lighten-4 " style="flex: 1 0 auto">
    <div class="section no-pad-bottom">
        <div class="row">
            <div class="col s4 offset-s4">
                <div id="errorMessage" class="card-panel red lighten-2" th:if="${error}">
                    <span class="white-text card-title center">Error</span>
                    <span class="white-text card-content center" th:text="${message}"></span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
</footer>
</body>
</html>