<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Licenta</title>
        <link href="/webjars/materialize-css/1.0.0-beta/dist/css/materialize.min.css" type="text/css" rel="stylesheet"/>
        <script src="/webjars/jquery/3.3.1/jquery.js"></script>
        <script src="/webjars/materialize-css/1.0.0-beta/dist/js/materialize.min.js"></script>
        <script src="/webjars/material-design-icons/3.0.1/material-icons.css"></script>
        <style type="text/css">
        .nav-wrapper .input-field input[type=search] {
          height: 64px;
        }
        .nav-wrapper input[type="search"]:focus {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
        }
        .input-field label {
          max-height: 64px;
        }
        .nav-wrapper input[type="search"]:focus ~ .label-icon.active {
          position: fixed;
          left: 10px;
        }
        .nav-wrapper input[type="search"]:focus ~ .closed {
          position: fixed;
          right: 10px;
        }

        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(/webjars/material-design-icons/3.0.1/MaterialIcons-Regular.eot);
            src: local('Material Icons'),
                 local('MaterialIcons-Regular'),
                 url(/webjars/material-design-icons/3.0.1/MaterialIcons-Regular.woff2) format('woff2'),
                 url(/webjars/material-design-icons/3.0.1/MaterialIcons-Regular.woff) format('woff'),
                 url(/webjars/material-design-icons/3.0.1/MaterialIcons-Regular.ttf) format('truetype');
        }

        .material-icons {
          font-family: 'Material Icons';
          font-weight: normal;
          font-style: normal;
          font-size: 24px;  /* Preferred icon size */
          display: inline-block;
          line-height: 1;
          text-transform: none;
          letter-spacing: normal;
          word-wrap: normal;
          white-space: nowrap;
          direction: ltr;

          /* Support for all WebKit browsers. */
          -webkit-font-smoothing: antialiased;
          /* Support for Safari and Chrome. */
          text-rendering: optimizeLegibility;

          /* Support for Firefox. */
          -moz-osx-font-smoothing: grayscale;

          /* Support for IE. */
          font-feature-settings: 'liga';
        }
        </style>
    </head>
    <body style="
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
    ">
        <header>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper blue">
                        <div class="container">
                            <div class="row">
                                <div class="col s3">
                                    <ul class="left">
                                        <li>
                                            <a class="waves-light" th:href="@{/}">
                                                <b>Proiect Licenta</b>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col s6">
                                    <form sec:authorize="isAuthenticated()" th:action="@{/search}" method="post">
                                        <div class="input-field">
                                            <input onfocus="if(this.value == 'Search content') {this.value='';}$(this).css('color','black');"
                                                   onblur="if(this.value == ''){this.value ='Search content';}$(this).css('color','white');"
                                                   id="search" type="search" name="search"
                                                   value="Search content" style="color:white;" required=""/>
                                            <label class="label-icon" for="search">
                                                <i class="material-icons">search</i>
                                            </label>
                                        </div>
                                    </form>
                                </div>
                                <div class="col s3">
                                    <div class="row">
                                        <div class="col s6">
                                            <b sec:authorize="isAuthenticated()" th:text="'@'+${currentUser.username}"></b>
                                        </div>
                                        <div class="col s6">
                                            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                                                <input id="logoutButton" type="submit" value="logout" class="btn waves-light"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main class="cyan lighten-4" style="flex: 1 0 auto">
            <section layout:fragment="content"/>
        </main>
        <footer class="cyan lighten-4">
            <div class="container section no-pad-bottom" style="margin-top:-25px;">
                <div class="row" style="text-align:center;">
                    <span th:text="'&copy; Popescu Andrei Bogdan - Facultatea de Matematica si Informatica - Universitatea Bucuresti - ' + ${#dates.year(#dates.createNow())}">Copyright</span>
                </div>
            </div>
        </footer>
    </body>
</html>