<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Licenta :: Login</title>
</head>
<body>
<div class="section no-pad-bottom" layout:fragment="content">
    <div class="container" style="margin-top:">
        <div class="row offset-s4">
            <div class="col s4 offset-s4">
                <div class="card-panel hoverable" style="margin-top:100px">
                    <form class="center" th:action="@{/login}" method="post">
                        <div>
                            <b><span class="black-text center">Login Form</span></b>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" name="email" type="email" class="validate" required=""/>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" name="password" type="password" class="validate"/>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div id="errorMessageLogin" class="card-panel red lighten-1" th:if="${error}">
                            <b><span class="white-text card-content" th:text="${errorMessage}"></span></b>
                        </div>
                        <div class="row center">
                            <button id="loginButton" class="btn-flat waves-effect waves-light" type="submit" name="action">
                                Login
                            </button>
                        </div>
                    </form>
                    <form class="center" th:action="@{/register}" method="get">
                        <div class="row center">
                            <button id="registerButton" class="btn-flat waves-effect waves-light" type="submit">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>